{
	name = "Khmer";
	subGroup = (
		{
			name = "Numerals";
			coverage = (
				zero-khmer,
				one-khmer,
				two-khmer,
				three-khmer,
				four-khmer,
				five-khmer,
				six-khmer,
				seven-khmer,
				eight-khmer,
				nine-khmer,
			);
		},
		{
			name = "Letters";
			coverage = (
				ka-khmer,
				kha-khmer,
				ko-khmer,
				kho-khmer,
				ngo-khmer,
				ca-khmer,
				cha-khmer,
				co-khmer,
				cho-khmer,
				nyo-khmer,
				nyo-khmer.less,
				da-khmer,
				ttha-khmer,
				do-khmer,
				ttho-khmer,
				nno-khmer,
				ta-khmer,
				tha-khmer,
				to-khmer,
				tho-khmer,
				no-khmer,
				ba-khmer,
				pha-khmer,
				po-khmer,
				pho-khmer,
				mo-khmer,
				yo-khmer,
				ro-khmer,
				lo-khmer,
				vo-khmer,
				sha-khmer,
				sso-khmer,
				sa-khmer,
				ha-khmer,
				la-khmer,
				qa-khmer,
				qaq-khmer,
				qaa-khmer,
				qi-khmer,
				qii-khmer,
				qu-khmer,
				quk-khmer,
				quu-khmer,
				quuv-khmer,
				ry-khmer,
				ryy-khmer,
				ly-khmer,
				lyy-khmer,
				qe-khmer,
				qai-khmer,
				qootypeone-khmer,
				qootypetwo-khmer,
				qau-khmer,
				avakrahasanya-khmer,
			);
		},
		{
			name = "Subjoined";
			coverage = (
				ka-khmer.below,
				kha-khmer.below,
				ko-khmer.below,
				kho-khmer.below,
				kho-khmer.below.low,
				ngo-khmer.below,
				ca-khmer.below,
				cha-khmer.below,
				co-khmer.below,
				cho-khmer.below,
				cho-khmer.below.low,
				nyo-khmer.below,
				da-khmer.below,
				ttha-khmer.below,
				do-khmer.below,
				ttho-khmer.below,
				ttho-khmer.below.low,
				nno-khmer.below,
				ta-khmer.below,
				tha-khmer.below,
				to-khmer.below,
				tho-khmer.below,
				no-khmer.below,
				ba-khmer.below,
				ba-khmer.below.low,
				pha-khmer.below,
				po-khmer.below,
				pho-khmer.below,
				mo-khmer.below,
				yo-khmer.below,
				yo-khmer.below.low,
				ro-khmer.below,
				ro-khmer.below.low,
				lo-khmer.below,
				vo-khmer.below,
				sha-khmer.below,
				sso-khmer.below,
				sso-khmer.below.low,
				sa-khmer.below,
				sa-khmer.below.low,
				ha-khmer.below,
				la-khmer.below,
				qa-khmer.below,
				qu-khmer.below,
				ry-khmer.below,
				ryy-khmer.below,
				qe-khmer.below,
			);
		},
		{
			name = "Ligatures";
			coverage = (
				ba_aasign-khmer,
				ba_au-khmer,
			);
		},
		{
			name = "Other";
			coverage = (
				lekattakson-khmer,
				lekattakmuoy-khmer,
				lekattakpii-khmer,
				lekattakbei-khmer,
				lekattakbuon-khmer,
				lekattakpram-khmer,
				lekattakpramMuoy-khmer,
				lekattakpramPii-khmer,
				lekattakpramBei-khmer,
				lekattakpramBuon-khmer,
				pathamasat-khmer,
				muoykoet-khmer,
				piikoet-khmer,
				beikoet-khmer,
				buonkoet-khmer,
				pramkoet-khmer,
				pramMuoykoet-khmer,
				pramPiikoet-khmer,
				pramBeikoet-khmer,
				pramBuonkoet-khmer,
				dapkoet-khmer,
				dapMuoykoet-khmer,
				dapPiikoet-khmer,
				dapBeikoet-khmer,
				dapBuonkoet-khmer,
				dapPramkoet-khmer,
				tuteyasat-khmer,
				muoyroc-khmer,
				piiroc-khmer,
				beiroc-khmer,
				buonroc-khmer,
				pramroc-khmer,
				pramMuoyroc-khmer,
				pramPiiroc-khmer,
				pramBeiroc-khmer,
				pramBuonroc-khmer,
				daproc-khmer,
				dapMuoyroc-khmer,
				dapPiiroc-khmer,
				dapBeiroc-khmer,
				dapBuonroc-khmer,
				dapPramroc-khmer,
			);
		},
		{
			name = "Marks";
			coverage = (
				aq-khmer,
				aa-khmer,
				aasign-khmer,
				iMark-khmer,
				iiMark-khmer,
				yMark-khmer,
				yyMark-khmer,
				nikahit-khmer,
				muusikatoan-khmer,
				triisap-khmer,
				bantoc-khmer,
				robat-khmer,
				toandakhiat-khmer,
				kakabat-khmer,
				ahsda-khmer,
				samyoksannya-khmer,
				viriam-khmer,
				bathamasat-khmer,
				atthacan-khmer,
				uMark-khmer,
				uuMark-khmer,
				uaMark-khmer,
				oe-khmer,
				ya-khmer,
				ya-khmer.right1,
				ya-khmer.right2,
				ya-khmer.right3,
				ie-khmer,
				ie-khmer.right1,
				ie-khmer.right2,
				ie-khmer.right3,
				e-khmer,
				ae-khmer,
				ai-khmer,
				oo-khmer,
				au-khmer,
				au-khmer.right,
				reahmuk-khmer,
				yuukaleapintu-khmer,
				coeng-khmer,
			);
		},
		{
			name = "Symbols and Punctuation";
			coverage = (
				khan-khmer,
				bariyoosan-khmer,
				camnucpiikuuh-khmer,
				lektoo-khmer,
				beyyal-khmer,
				phnaekmuan-khmer,
				koomuut-khmer,
				riel-khmer,
			);
		},
	);
}